{{ template "base" .}}

{{ define "content" }}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>About Page</h1>
        <p>About page content goes here.</p>
        <p>This is a paragraph of text.</p>
        <p>This is another paragraph of text used to test cache.</p>
      </div>
    </div>
  </div>
{{ end }}